*{
    padding: 0;
    margin: 0;
}

body{
    font-family: IRANSans;
    background-color: #e7f0f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    background-color: #ffffff;
    height: 80vh;
    width: 160vh;
    border: hidden;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8vh;
    padding: 4vh 8vh;
}

.link{
    text-decoration: none;
    color: #000000;
    font-size: 4vh;
}

.link:hover{
    color: #00aaff;  
}

.link:focus{
    color: #00aaff;
}

.main{
    padding: 4vh 8vh;
    color: #000;
    font-size: 4vh;
}